@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: #3a3a3a;
    margin-top: 20px;
    margin-bottom: 0;
}

section {
    margin-bottom: 120px;
}

.flex-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 75%;
}

.main-color {
    color: #13B6FC;
}

.link-button {
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to left,#00a4ff, #13B6FC);
    color: #1e1e1e;
    font-weight: 700;
    padding: 10px 30px;
    margin-top: 10px;
    border-radius: 10px;
}

/* Header Section Style Start */
.profile-info {
    padding-top: 110px;
}

.profile-info p {
    font-size: 18px;
    color: #828282;
}

/* Header Section Style End */

/* About Section Style Start */
.about-me {
    background-image: url(images/about-me-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* About Section Style End */

/* Recipes Section Style Start */
.recipe-info {
    text-align: center;
}

.recipe-info p{
    width: 470px;
    display: inline-block;
    font-size: 18px;
    color: #828282;
}

.food-item {
    margin-top: 40px;
}

.food-items {
    width: 20%;
    margin-left: 9%;
    box-shadow: 10px 10px 30px #c7c7c7;
    border-radius: 20px;
    padding: 15px;
}

.food-items img{
    width: 100%;
}

.food-items p,
.social-item p{
    font-size: 18px;
    color: #828282;
}

/* Recipes Section Style End */

/* Social item Section Style Start */

.social-followers {
    box-shadow: 10px 10px 30px #c7c7c7;
    border-radius: 15px;
    text-align: center;
}

.social-item {
    width: 20%;
    margin-left: 9%;
}

.social-item h3{
    font-size: 30px;
    font-weight: 900;
}

/* Social item Section Style End */

/* Footer section Style Start */
footer {
    background-color: #0B0D17;
    text-align: center;
    margin: 0;
    padding-top: 25px;
    padding-bottom: 40px;
}

footer h2{
    color: #5B5B5B;
}

footer p{
    color: #acacac;
}

/* Footer section Style End */





